<%- include('./head') %>

<main>
    <div class="page-title">
      <h1>Kloktijden</h1>
      <p>Donderdag 15 juni 2023</p>
      <hr>
    </div>

    <div class="afdeling-wrapper">
      <h2> Werktijden B.V.</h2>
      <div class="toggler">
    <input id="toggler-1" name="toggler-1" type="checkbox" value="1">
    <label for="toggler-1">
    </label>
</div>
    </div>


     
  <section class="wrapper">
    <div class="card-wrapper">
      <% employee.forEach(employee=> { %>
        <div class="employee-card">
          <img src="<%= employee.avatar%>" alt="<%= employee.name %> profielfoto">
          <div class="stripe">
          </div>
           <div class="inside-card">
             <h2><%= employee.first_name +" "+ employee.last_name %></h2>
             <span>time</span>
          </div>
        </div> 
      <% }) %>
     </div>
     <div class="form-wrapper">
  <!-- Clock-in form -->
<form action="/clockin" method="post">
  <label for="employeeId">Employee:</label>
  <select id="employeeId" name="employeeId" required>
    <% employee.forEach((employee) => { %>
      <option value="<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></option>
    <% }); %>
  </select>

  <label for="departmentId">Department ID:</label>
  <input type="text" id="departmentId" name="departmentId" required>

  <button type="submit">Clock In</button>
</form>

<!-- Clock-out form -->
<form action="/clockout" method="post">
  <label for="employeeId">Employee:</label>
  <select id="employeeId" name="employeeId" required>
    <% employee.forEach((employee) => { %>
      <option value="<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></option>
    <% }); %>
  </select>

  <label for="departmentId">Department ID:</label>
  <input type="text" id="departmentId" name="departmentId" required>

  <button type="submit">Clock Out</button>
</form>

     </div>
  </section> 



        
</main>



<%- include('./footer') %>