<%- include('./head') %>

<main>
  
    <div class="page-title">
      <h1>Kloktijden</h1>
      <p>Donderdag 15 juni 2023</p>
      <hr>
    </div>

   


     <div class="wrapper">
      <% employee.forEach(employee=> { %>
        <div class="employee-card">
           <div class="inside-card">
            <img src="<%= employee.avatar%>" alt="<%= employee.name %> profielfoto">
             <h3><%= employee.first_name +" "+ employee.last_name %></h3>
          </div>
        </div> 
      <% }) %>
     </div> 
        
</main>



<%- include('./footer') %>