<%- include('./head') %>

<main>
  
    <div class="page-title">
      <h1>Kloktijden</h1>
      <p>Donderdag 15 juni 2023</p>
      <hr>
    </div>

    <div class="afdeling-wrapper">
      <h2> Werktijden B.V.</h2>
    </div>

  

   


     <div class="wrapper">
      <% employee.forEach(employee=> { %>
        <div class="employee-card">
          <img src="<%= employee.avatar%>" alt="<%= employee.name %> profielfoto">
           <div class="inside-card">
             <h2><%= employee.first_name +" "+ employee.last_name %></h2>
          </div>
        </div> 
      <% }) %>
     </div> 

     <button onclick="openPopup()">Open Formulier</button>

  <div id="popup" class="popup">
    <div class="popup-content">
      <span class="close" onclick="closePopup()">&times;</span>
      <img src="/map.png" alt="illustartie van een map">
      <form id="myForm">
        <div class="form-card">
        <label for="name">Medewerker</label>
        <input type="text" id="name" name="name" required>
        </div>
        <div class="form-card">
        <label for="department">Afdeling</label>
        <input type="text" id="department" name="department" required>
        </div>
        <div class="form-card">
        <label for="opmerking">Opmerking</label>
        <input type="textfield" id="opmerking" name="opmerking">
        </div>
        <button type="submit">inklokken</button>
      </form>
    </div>
  </div>

        
</main>



<%- include('./footer') %>