<%- include('./head') %>

<main>
  
    <section class="info">
      <div class="bedrijf-info">
        <h1>Werktijden.nl</h1>
        <h2>afdeling :</h2>
      </div>

     <div class="wrapper">
      <% employee.forEach(employee=> { %>
        <div class="employee-card">
           <div class="inside-card">
            <img src="<%= employee.avatar%>" alt="<%= employee.name %> profielfoto">
             <h3><%= employee.first_name +" "+ employee.last_name %></h3>
          </div>
        </div> 
      <% }) %>
     </div> 
        

      <div class="button-wrapper">
         <button>Inklokken</button>
         <button>Medewerkers</button>
       </div>
    </section>
</main>



<%- include('./footer') %>